@media (max-width: 1100px) {
    header > .inner{
        position: static
    }

    header .logo{
        left: 10px;
    }

    header .badges{
        display: none;
    }

    .visual{
        margin-top: 120px;
    }

    .visual .inner{
        height: 58.7vw;
    }
    .visual .title{
        left: 10px;
    }

    .visual .title img{
        width: 42vw;
    }

    .visual .title .btn{
        top: 23vw;
        left: 15vw;
        width: 12vw;
        font-size: 1.5vw;
        padding: 1.2vw;
    }

    .visual .cup1.image{
        width: 25.3vw;
        left: 74.2vw;
    }

    .visual .cup1.text{
        width: 16.2vw;
        left: 61.2vw;
    }

    .visual .cup2.image{
        width: 25.4vw;
        left: 56.1vw;
    }

    .visual .cup2.text{
        width: 23vw;
        top: 29.1vw;
        left: 35.4vw;
    }

    .visual .spoon{
        width: 37.5vw;
        left: 32.7vw;
    }

    .notice .notice-line .inner__left{
        width: 50%;
    }

    .notice .notice-line .inner__right{
        width: 50%;
        justify-content: start;
    }

    .notice .notice-line .inner__right h2{
        margin-left: 30px;
    }
    .notice .promotion{
        height: 66vw;
    }
    .notice .promotion .swiper-slide{
        width: auto
    }
    .notice .promotion .swiper-slide img{
        width: 74.3vw;
        height: 50vw;
        margin: auto;
    }
    .notice .promotion .swiper-slide .btn{
        bottom: 1vw;
    }
    .notice .promotion .swiper-prev, .notice .promotion .swiper-next{
        top: 26.8vw;
    }

    .notice .promotion .swiper-prev{
        margin-left: 0px;
        left: 4vw;
    }
    .notice .promotion .swiper-next{
        left: 87vw;
    }

    .notice .promotion .swiper-pagination{
        bottom: 3.6vw;
    }
    .rewards .btn-group{
        position: static;
    }

    .youtube .floating1{
        top: 4.5vw;
        width: 25.9vw;
    }

    .youtube .floating2{
        top: 31.8vw;
        width: 19.5vw;
    }

    .season-product .floating3{
        top: -18.1vw;
        left: 68vw;
        width: 29vw;
    }

    .season-product .text-group{
        left: 43vw;
    }

    .reserve-store .inner{
        width: 100%;
    }

    .reserve-coffee .inner{
        width: 100%;
        height: auto;
    }

    .reserve-coffee .reserve-logo{
        left: 16.8vw;
    }
    .reserve-coffee .text-group{
        left: 35.9vw;
    }

    .reserve-coffee .product{
        position: static;
        padding-top: 300px;
        margin: auto;
    }

    
    .find-store .texture2{
        left: 70vw;
    }
    .find-store .picture1{
        left: 1.8vw;
        width: 31.8vw;
    }

    .find-store .picture2{
        left: 22.7vw;
        width: 20vw;
    }

    .find-store .text-group{
        left: 50vw;
    }

    .awards .inner{
        width: auto;
    }

    footer .inner{
        width: 100%;
    }

}
@media (max-width: 1014px) {
    .notice .promotion .swiper-slide .btn{
        bottom: 4vw;
    }
}
@media (max-width: 950px) {
    .notice .promotion .swiper-slide .btn{
        bottom: 10vw;
    }
}
@media (max-width:880px) {
    .notice .promotion .swiper-slide .btn{
        bottom: 12vw;
    }
}
@media (max-width: 830px) {
    header > .inner{
        width: 100%;
        height: 69px;
    }
    header .logo img{
        width: 45px;
        height: 45px;
    }
    header .mobile-menu{
        display: block;
        margin-top: 10px;
    }
    header .mobile-menu ul{
        float: right;
    }
    header .sub-menu, header .main-menu{
        display: none;
    }

    /* VISUAL */
    .visual{
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 80px;
    }

    .visual .inner{
        width: 100%;
        height: 1000px;
    }

    .visual .title{
        position: static;
        padding-top: 70px;
    }

    .visual .title img{
        width: 400px;
        margin: auto;
    }

    .visual .title .btn{
        position: static;
        margin: 30px auto 0 ;
        width: 100px;
        font-size: 14px;
        padding: 1.2vw;
    }

    .visual .cup1.image{
        width: 271px;
        left: 58.2vw;
    }

    .visual .cup1.text{
        width: 177px;
        left: 37.2vw;
        top: 450px;
    }
    

    .visual .cup2.image{
        width: 245px;
        left: 35.1vw;
    }

    .visual .cup2.text{
        width: 230px;
        top: 700px;
        left: 7.4vw;
    }

    .visual .spoon{
        width: 380px;
        left: 6.7vw;
    }

    /* NOTICE */
    .notice .notice-line .bg-left{
        background-color: #F6F5EF;
    }

    .notice .notice-line .inner{
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .notice .notice-line .inner__left{
        width: 100%;
    }

    .notice .noti.find-store .innerce-line .inner__left h2{
        font-size: 14px;
        letter-spacing: -1px;
    }

    .notice .notice-line .inner__left .swiper-slide a{
        font-size: 14px;
    }

    .notice .notice-line .inner__right{
        width: 100%;
        justify-content: center;
    }

    .notice .promotion .swiper-prev,
    .notice .promotion .swiper-next,
    .notice .promotion .swiper-slide .btn{
        display: none;
    }

    .notice .promotion .swiper-pagination{
        bottom: 5vw;
    }
    
    .rewards .inner{
        background-size: cover;
        width: 100vw;
        height: 29vw;
    }
    .season-product .inner{
        width: 100%;
        height: 727px;
    }

    .season-product .product{
        margin: auto;
    }

    .season-product .text-group{
        position: static;
    }

    .season-product .text-group .title{
        margin: 0px auto 10px;
    }

    .season-product .text-group .description{
        margin: 0px auto 15px;
    }

    .season-product .text-group .more{
        display: flex;
        justify-content: center;
    }

    .reserve-coffee .inner{
        padding-top: 50px;
    }

    .reserve-coffee .reserve-logo{
        position: static;
        margin: auto;
    }
    .reserve-coffee .text-group{
        position: static;
        margin-top: 30px;
    }
    .reserve-coffee .text-group .description,
    .reserve-coffee .text-group .more .btn{
        margin: auto;
    }
    .reserve-coffee .product{
        padding-top: 0px;
    }

    .find-store .inner{
        width: 100%;
        height: 700px;
    }


    .find-store .picture1{
        left: 22vw;
        width: 350px;
    }

    .find-store .picture2{
        left: 46vw;
        width: 216px;
    }

    .find-store .text-group{
        position: static;
        padding-top: 420px;
    }

    .find-store .text-group .title,
    .find-store .text-group .description,
    .find-store .text-group .more .btn{
        margin: 0 auto 20px;
    }
}
@media (max-width: 580px){
    .visual .cup1.image{
        width: 45.9vw;
        left: 58.2vw;
    }

    .visual .cup1.text{
        width: 30vw;
        left: 37.2vw;
        top: 480px;
    }
    

    .visual .cup2.image{
        width: 41.5vw;
        left: 35.1vw;
    }

    .visual .cup2.text{
        width: 38.9vw;
        top: 118.6vw;
        left: 7.4vw;
    }

    .visual .spoon{
        width: 64.4vw;
        left: 6.7vw;
    }
}
@media (max-width: 500px){
    .visual .cup1.image{
        left: 58.2vw;
    }

    .visual .cup1.text{
        left: 37.2vw;
    }
    

    .visual .cup2.image{
        left: 35.1vw;
    }

    .visual .cup2.text{
        left: 7.4vw;
    }

    .visual .spoon{
        left: 6.7vw;
    }

    .notice .promotion .swiper-pagination{
        bottom: 2vw;
    }
}