@media (max-width: 1100px) {
    header > .inner{
        position: static
    }

    header .logo{
        left: 10px;
    }

    header .badges{
        display: none;
    }

    .visual{
        margin-top: 120px;
    }

    .visual .inner{
        height: 58.7vw;
    }
    .visual .title{
        left: 10px;
    }

    .visual .title img{
        width: 42vw;
    }

    .visual .title .btn{
        top: 23vw;
        left: 15vw;
        width: 12vw;
        font-size: 1.5vw;
        padding: 1.2vw;
    }

    .visual .cup1.image{
        width: 25.3vw;
        left: 75.2vw;
    }

    .visual .cup1.text{
        width: 16.2vw;
        left: 61.2vw;
    }

    .visual .cup2.image{
        width: 25.4vw;
        left: 56.1vw;
    }

    .visual .cup2.text{
        width: 23vw;
        top: 29.1vw;
        left: 35.4vw;
    }

    .visual .spoon{
        width: 37.5vw;
        left: 32.7vw;
    }

    .notice .notice-line .inner__left{
        width: 50%;
    }

    .notice .notice-line .inner__right{
        width: 50%;
        justify-content: start;
    }

    .notice .notice-line .inner__right h2{
        margin-left: 30px;
    }

    .youtube .floating1{
        top: 4.5vw;
        width: 25.9vw;
    }

    .youtube .floating2{
        top: 31.8vw;
        width: 19.5vw;
    }

    .season-product .floating3{
        top: -18.1vw;
        left: 68vw;
        width: 29vw;
    }

}

@media (max-width: 830px) {
    header > .inner{
        width: 100%;
        height: 69px;
    }
    header .logo img{
        width: 45px;
        height: 45px;
    }
    header .mobile-menu{
        display: block;
        margin-top: 10px;
    }
    header .mobile-menu ul{
        float: right;
    }
    header .sub-menu, header .main-menu{
        display: none;
    }



    /* VISUAL */
    .visual{
        margin-top: 80px;
    }

    .visual .title{
        top: 7vw;
    }

    /* NOTICE */
    .notice .notice-line .bg-left{
        background-color: #F6F5EF;
    }

    .notice .notice-line .inner{
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .notice .notice-line .inner__left{
        width: 100%;
    }

    .notice .notice-line .inner__left h2{
        font-size: 14px;
        letter-spacing: -1px;
    }

    .notice .notice-line .inner__left .swiper-slide a{
        font-size: 14px;
    }

    .notice .notice-line .inner__right{
        width: 100%;
        justify-content: center;
    }

    
}

@media (max-width: 500px){
    .visual .title .btn{
        width: 13vw;
        font-size: 0.5vw;
    }
}